---
title: 3/8 - Showcase - Design and print of custom t-shirt for college and conferences.
classes: page showcase
---

<div class="slideshow row" style="min-height:500px">
    <ul class="large-centered" data-orbit>
        <% data.event_pics.photographs.each_with_index do |f, index| %>
        <li>
          <img src="<%= f.url %>" alt="slide <%= index %>" />
          <div class="orbit-caption">
            <%= f.org %>, <%= f.event %>
          </div>
        </li>
        <% end %>
    </ul>
</div> <!-- .slideshow -->

<ul class="grid effect-6" id='grid'>
  <% data.shirt_display.photographs.each_with_index do |f, index| %>
  <li class="item <%= f.type %>">
    <a href="#"><img src="<%= f.url %>" alt="<%= f.org %>, <%= f.event %>" /></a>
  </li>
  <% end %>
</ul>
